html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family:'M PLUS Rounded 1c', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.flex {
    display: flex;
}

.l-wrapper {
    max-width: 1155px;
    margin: 0 auto;
}

.l-service-wrapper {
    max-width: 752px;
    display: flex;
}

.l-wrapper--main {
    margin-top: 60px;
    display: flex;
}

.l-wrapper-hor--md {
    display: flex;
    max-width: 919px;
}

.c-startpage-bg {
    background: url(../img/medea-start.png) center no-repeat;
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: 939px;
}

.c-menu {
  font-size: 14px;
  display: flex;
  padding-top: 17px;
  padding-bottom: 13px;
}

.c-menu--short {
    justify-content: space-between;
}

.c-menu a {
    padding-top: 10px;
    margin-right: 60px;
    font-weight: 500;
    height: 103%;
}

.c-menu__bg {
    width: 100%;
    background: #FFF;
    line-height: 1.5;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25)
}

.c-menu a:hover {
    font-weight: 600;
    border-bottom: solid #3A88C4 ;
    border-radius: 2px 2px 0px 0px;
}

.c-menu__patient {
    display: flex;
}

.c-menu__notify {
    margin-right: 20px;
    width: 140px;
}

.c-sidebar {
    width: 212px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
}

.c-sidebar-wrap {
    margin-bottom: 15px;
}

.c-menu__logo {
    width: 156px;
    height: 34px;
    background: url(../img/logo-main.png) center no-repeat;
    margin-right: 75px;
}

.c-menu__patient-wrap {
    margin-right: 15px;
    max-width: 105px;
}

.c-menu__patient-name {
    font-weight: 600;
}

.c-menu__patient-birthdate {
    color: #808080;
    font-weight: 600;
}

.c-menu__patient-logo {
    width: 40px;
    height: 40px;
    background: url(../img/user.png) center no-repeat;
}

.c-menu__notify-btn {
    padding-top: 21px;
    width: 16px;
    height: 20px;
    background: url(../img/notify.svg) center no-repeat;
    float: right;
}

.c-content-diary {
   padding: 26px 32px 22px 31px;
   height: 373px;
    line-height: 1.5;
   background: #FAFAFA;
   border-radius: 10px;
}

.c-content-diary__list {
    margin-top: 25px;
}

.c-content-diary__list li {
   padding: 10px 0;
   border-bottom: 1px solid #D5D5D5;
    font-weight: 600;
}

.c-content-diary__list-status {
    float: right;
    color: #3A88C4;
    font-weight: 600;
}

.c-content-diary__list-icon {
    background: url(../img/checks.png) center no-repeat;
    width: 24px;
    height: 14px;
}

.c-content-diary__recipe-done {
    color: #9E9E9E;
}

.c-content-diary__title {
    font-size: 20px;
    font-weight: 600;
}

.c-content-diary__edit-btn, .c-content-exams__edit-btn {
    float: right;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 0 19px ;
    height: 40px;
    background: #3A88C4;
    text-align: center;
    line-height: 40px;
    border: 1px solid #3A88C4;
    box-sizing: border-box;
    border-radius: 50px;
}

.c-content-diary__view-btn {
    display: block;
    margin-top: 113px;
    color: #3A88C4;
    font-weight: 600;
}

.c-content-televisita {
    margin-top: 27px;
    background: #FFEFD8;
    border-radius: 15px;
    padding: 26px 32px 22px 31px;
    height: 373px;
}

.l-wrapper-col {
    width: 448px;
}

.l-wrapper-col--mr {
    margin-right: 22px;
}

.c-content-televisita__card {
    display: flex;
    flex-flow: row;
    line-height: 1.5;
    padding: 18px 20px 20px 20px;
    margin-top: 15px;
    background: #FFFFFF;
    width: 346px;
    justify-content: space-between;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.c-content-televisita__card:hover {
    box-shadow: 0 0 0 2px  #FFB851;
    cursor: pointer;
}

.c-content-televisita__top-btn {
    float: right;
    text-align: center;
    line-height: 40px;
    background: #FFB851;
    border: 1px solid #FFC26B;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    width: 140px;
}

.c-content-televisita__card-img {
    display: block;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.img-1 {
    background: url(../img/mon.svg) center no-repeat;
}

.img-2 {
    background: url(../img/user.svg) center no-repeat;
}

.l-wrapper-col {
    display: flex;
    flex-flow: column;
    width: max-content;
}

.l-wrapper-row--sm {
    display: flex;
}

.c-content-televisita__title {
    color: #EE8C00;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.c-content-televisita__date {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

.c-content-televisita__card-role {
    font-weight: 600;
    text-transform: uppercase;
    color: #9E9E9E;
    font-size: 14px;
    margin-bottom: 7px;
}

.c-content-televisita__card-name {
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 14px;
}

.c-content-televisita__card-name--empty {
    margin-top: 14px;
    height: fit-content;
}

.c-content-televisita__card-loc {
    font-size: 14px;
}

.c-content-televisita__view-btn {
    display: block;
    font-size: 14px;
    margin-top: 30px;
    color: #3A88C4;
    font-weight: 600;
}

.c-content-televisita__card-time {
    font-weight: 600;
    margin-top: 25px;
    font-size: 18px;
    color: #EE8C00;
}

.c-content-televisita__card-status {
    font-weight: 600;
    font-size: 14px;
}

.c-content-televisita__card-time--complete {
    color: #000000;
    margin-top: 0;
    text-align: right;
}

.c-content-exams {
    padding: 26px 27px 22px 27px;
    width: 394px;
    line-height: 1.5;
    background: #B6DFFF;
    margin-left: 23px;
    border-radius: 15px;
}

.c-content-exams__list {
    margin-top: 12px;
}

.c-content-exams__date {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

.c-content-exams__title {
    display: inline-block;
    margin-top: 9px;
    font-size: 20px;
    font-weight: 600;
    color: #14598D;
}

.c-content-exams__edit-btn {

}

.c-content-exams__list-icon-heart {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/heart-2.svg) center no-repeat;
}

.c-content-exams__list li {
    display: flex;
    background: #FFFFFF;
    margin-bottom: 6px;
    padding: 14px 17px 14px 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.c-content-exams__list-name {
    width: 158px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 11px;
}

.c-content-exams__list-value {
    font-size: 14px;
    text-align: center;
    width: 76px;
    border-left: 1px solid #B6DFFF;
    border-right: 1px solid #B6DFFF;
    font-weight: 600;
}

.c-content-exams__list-status--in-process {
    color: #EE8C00;
    font-weight: 600;
    padding-top: 2px;
    text-align: center;
    font-size: 12px;
    margin-left: 18px;
}

.c-content-exams__list-status--done {
    color: #3A88C4;
    padding-top: 2px;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    margin-left: 22px;
}

.c-content-exams__list-icon-download, .c-content-televisita__list-icon-download {
    width: 14px;
    height: 17px;
    background: url('../img/download.png') center no-repeat;
    margin-left: 5px;
}

.c-content-televisita__list-icon-download {
    margin-top: 29px;
}

.c-content-televisita__list-status--done {
    color: #3A88C4;
    padding-top: 2px;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    margin-top: 29px;
}

.c-content-exams__view-btn {
    font-size: 14px;
    display: block;
    margin-top: 29px;
    color: #3A88C4;
    font-weight: 600;
}

.c-content-exams__list--empty-item {
    justify-content: space-between;
}

.c-sidebar__icon-note, .c-sidebar__icon-heart, .c-sidebar__icon-group, .c-sidebar__icon-doctor {
    margin-top: 7px;
    margin-right: 22px;
    display: block;
    width: 24px;
    height: 24px;
}

.c-sidebar__icon-note {
    background: url('../img/note-1.svg') center no-repeat;
}
.c-sidebar__icon-heart {
    background: url('../img/heart-2.svg') center no-repeat;
}

.c-sidebar__icon-group {
    background: url('../img/group.svg') center no-repeat;
}

.c-sidebar__icon-doctor {
    background: url('../img/doctor-6.svg') center no-repeat;
}

.l-content-patient-data__wrapper {
    display: flex;
    margin-top: 19px;
}

.c-sidebar--patient {
    height: 1024px;
    box-shadow: 6px 0 9px -5px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    margin-top: -42px;
    padding-top: 42px;
    width: 200px;
}

.c-sidebar--patient > div > a {
    font-size: 16px;
}

.c-sidebar--patient > div:first-child {
    margin-bottom: 15px;
}

.c-sidebar__patient-exams {
    margin-left: 47px;
    font-weight: 500;
    font-size: 16px;
}

.c-sidebar__patient-exams--chosen {
    font-weight: 600;
}

.l-wrapper--patient {
    display: flex;
    margin-top: 42px;
}

.c-content-patient-data {
    padding: 34px 35px 34px 34px;
    border-radius: 10px;
    background: #F7F7F7;
    line-height: 1.5;
}

.c-content-patient-data__title {
    font-size: 20px;
    font-weight: 600;
    color: #808080;
}

.c-content-patient-data__icon {
    display: block;
    width: 86px;
    height: 86px;
    background: url('../img/user-lg.svg') center no-repeat;
    margin-right: 36px;
}

.c-content-patient-data__text--lg {
    font-size: 20px;
    font-weight: 600;
}

.c-content-patient-data__text--sm {
    font-size: 14px;
    font-weight: 600;
}

c-content-patient-data__text--sm:nth-child(2) {
    margin-top: 10px;
}

.c-content-patient-data__text--sm::before {
    content: "\2022";
    font-weight: bold; /* If you want it to be bold */
    display: inline-block;
    margin-right: 10px;
}

.c-content-patient-data__block {
    display: flex;
    flex-flow: column;
    margin-right: 107px;
    margin-top: 10px;
}

.c-content-patient-data__block:nth-child(2) {
    margin-right: 169px !important;
}

.c-content-patient-data__block > .c-content-patient-data__text--sm  {
    padding-top: 6px;
}

.c-content-patient-data__text--sm-bottom {
   margin-top: 11px;
}

.c-content-patient-data__edit-btn {
    background: url('../img/pen.svg') center no-repeat;
    width: 20px;
    height: 20px;
    float: right;
}

.c-content-patient-exams {
    padding: 26px 17px 22px 30px;
    margin-top: 21px;
    margin-left: 0;
    height: 372px;
    border-radius: 15px 0px 0px 15px;
}

.c-content-patient-exams__scrollbar, .c-content-patient-televisita__scrollbar,
.c-content-dashboard-exams__scrollbar {
    width: 9px;
    height: 420px;
    margin-top: 21px;
    border-radius: 0px 15px 15px 0px;
    padding: 0 5px ;
}

.c-content-patient-exams__scrollbar {
    background: #9CD4FF;
}

.c-content-patient-televisita__scrollbar {
    background: #FFE3BB;
}

.c-content-dashboard-exams__scrollbar {
    background: #B5DFFF;
    margin-top: 0;
}

.c-content-patient-televisita {
    padding: 28px 17px 22px 27px;
    height: 372px;
    margin-top: 21px;
    margin-left: 24px;
    border-radius: 15px 0px 0px 15px;
}

.c-content-patient-exams__scrollbar-item, .c-content-patient-televisita__scrollbar-item,
.c-content-dashboard-exams__scrollbar-item {
    width: 8px;
    height: 95px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 273px;
}

.c-startpage-logo {
    width: 207px;
    height: 45px;
    background: url(../img/MEDEA-LOGO-DEFINITIVO.png) center no-repeat;
    position: absolute;
    margin-left: 62px;
    margin-top: 44px;
}

.c-auth {
    width: 1103px;
    margin: 0 auto;
    margin-top: 345px;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}

.c-auth-patients, .c-auth-medstaff {
    width: 378px;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.c-auth-patients__title, .c-auth-medstaff__title {
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.c-auth-patients__content, .c-auth-medstaff__content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.c-auth__signup {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 16px;
    line-height: 14px;
    margin-top: 21px;
}

.c-auth__signup:hover {
    cursor: pointer;
}

.c-auth-patients__login {
    margin-top: 57px;
    display: flex;
}

.c-auth-medstaff__login {
    margin-top: 33px;
    display: flex;
}

.c-auth-patients__login > input, .c-auth-medstaff__login > input {
    padding: 19px 20px;
    width: 257px;
    height: 14px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.c-auth-patients__login > input::placeholder, .c-auth-medstaff__login > input::placeholder {
    font-size: 14px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
}

.c-auth-patients__login > button, .c-auth-medstaff__login > button {
    border-radius: 4px;
    width: 136px;
    padding-top: 14px;
    margin-left: -2px;
    padding-bottom: 14px;
    font-weight: 800;
    font-size: 16px;
    color: #FFFFFF;
    font-family:'M PLUS Rounded 1c', sans-serif;
    background: #157CB9;
    border: none;
}

.c-signup-bg, .c-signup-doctor-bg {
    display: flex;
    margin: 0 auto;
    width: 1440px;
    min-height: 939px
}

.c-signup-bg {
    background: url(../img/patient-bg.png) center no-repeat;
}

.c-signup-doctor-bg {
    background: url(../img/doctor.png) center no-repeat;
}

.c-signup {
    width: 540px;
    height: 482px;
    background: #FFFFFF;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 186px;
    border-radius: 15px;
    padding: 79px 52px 58px 60px;
}

.c-signup--narrow {
    width: 420px;
    max-height: 577px;
    padding: 74px 51px 53px 61px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.c-signup-logo, .c-signup-ok-logo {
    display: inline-block;
    background: url("../img/MEDEA-LOGO-DEFINITIVO-2.png") center no-repeat;
    width: 198px;
    height: 43px;
}

.c-signup-btn {
    float: right;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}

.c-signup-form {
    margin-top: 52px;
    display: flex;
    flex-flow: column;
}

.c-signup-form__input-wrap {
    position: relative;
}

.c-signup-form__input-wrap input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 21px 17px;
    margin-bottom: 35px;
    width: 100%;
}

.c-signup-form__input-wrap::before {
    content: '';
    position: absolute;
    background: url('../img/remove_red_eye-24px-2.png') center no-repeat;
    width: 24px;
    height: 24px;
    right: 22px;
    top: 17px;
}

.c-signup-form__input-wrap--no-icon::before {
    display: none;
}

.c-signup-form__input-wrap input::placeholder {
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.c-signup-btn-submit {
    font-family:'M PLUS Rounded 1c', sans-serif;
    background: #3A88C4;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 9px;
    color: #FFFFFF;
    margin-top: 6px;
    border: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}

.c-signup-account-q {
    display: block;
    color: #3A88C4;
    font-size: 16px;
    font-weight: 600;
    margin-top: 31px;
}

.c-signup-ok {
    width: 426px;
    height: 252px;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 186px;
    border-radius: 15px;
    padding: 77px 57px;
}

.c-signup-ok-logo {
    display: block;
    margin: 0 auto;
}

.c-signup-ok-content {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 39px;
}

.c-signup-ok-btn {
    margin-top: 62px;
    background: #3A88C4;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

.c-exam {
    width: 478px;
}

.c-exam__often-used-item, .c-exam__reg-item {
    display: flex;
    width: 384px;
    padding: 15px;
    margin-bottom: 7px;
    border-radius: 4px;
}

.c-exam__often-used-item {
    background: #B6DFFF;
}

.c-exam__wrap {
    display: flex;
    margin-bottom: 34px;
}

.c-exam__wrap--single {
    margin-bottom: 0;
}

.c-exam__title {
    display: block;
    font-weight: 800;
    font-size: 20px;
    line-height: 14px;
    margin-bottom: 47px;
}

.c-exam__often-used-status {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    width: 46px;
    margin-right: 18px;
}

.c-exam__statuses {
    line-height: 1.5;
    justify-content: space-between;
    display: flex;
    flex-flow: column;
    min-width: 46px;
    padding-top: 15px;
    margin-right: 18px;
    text-align: center;
}

.c-exam__statuses > div {
    display: flex;
    flex-flow: column;
}

.c-exam__reg-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.c-exam__statuses > div > span {
    margin-bottom: 26px;
    color: #3A88C4;
    font-size: 20px;
    font-weight: 600;
}

.c-exam__often-used-item-name, .c-exam__reg-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    margin-left: 18px;
    margin-top: 5px;
    font-weight: 600;
}

.c-exam-filter {
    width: 330px;
    margin-left: 121px;
    line-height: 1.5;
}

.c-exam-filter__title {
    display: inline-block;
    font-size: 20px;
    line-height: 14px;
    font-weight: 600;
}

.c-exam-filter__btn {
    display: inline-block;
    float: right;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #3A88C4;
}

.c-exam-filter__search {
    display: block;
    background: #F3F3F3;
    padding: 5px 20px 12px 18px;
    border-radius: 50px;
    margin-top: 42px;
}

.c-exam-filter__search input {
    background: #F3F3F3;
    border: none;
}

.c-exam-filter__search input:focus {
    outline: none;
}

.c-exam-filter__search input::placeholder {
    color: #959595;
    font-weight: 600;
    font-size: 14px;
    font-family:'M PLUS Rounded 1c', sans-serif;
}

.c-exam-filter__search-icon {
    background: url("../img/search.svg") center no-repeat;
    width: 18px;
    height: 18px;
    display: block;
    float: right;
    margin-top: 5px;
}

.c-exam-filter__list {
    margin-top: 40px;
}

.c-exam-filter__list li {
    display: flex;
    margin-bottom: 22px;
}

.c-exam-filter__list-unchecked, .c-exam-filter__list-checked  {
    width: 18px;
    height: 18px;
    border: 2px solid #157CB9;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 19px;
    margin-top: 3px
}

.c-exam-filter__list-checked {
    background: url('../img/check.svg') center no-repeat;
}

.c-exam-filter__list-item--all {
    font-weight: 700;
    text-transform: uppercase;
}

.c-exam__my-exams-date {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    width: 46px;
    margin-right: 18px;
}

.c-exam__my-exams-item {
    display: flex;
    width: 384px;
    padding: 15px;
    margin-bottom: 7px;
    border-radius: 4px;
}

.c-content-exams__list--my-exams-item-br {
    padding: 8px 17px 8px 16px !important;
}

.c-content-exams__list--my-exams-item {
    width: 351px;
}

.c-content-exams__list-icon-heart--br {
    margin-top: 7px;
}

.c-content-exams__list-name--my-exams {
    margin-left: 24px;
}

.c-signup-doctor-bg {
    background: url("../img/doctor.png") center no-repeat;
}

.c-signup-form__prompt {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;
}

.c-content-exams-perf {
    background: #CFDDFF;
    border-radius: 15px;
    line-height: 1.5;
    padding: 28px 31px 28px 31px;
    margin-bottom: 22px;
    height: 364px;
}

.c-content-exams-perf__title {
    margin-top: 10px;
    color: #325DCD;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.c-content-exams-perf__status {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

.c-content-exams-perf__card {
    display: flex;
    flex-flow: row;
    line-height: 1.5;
    padding: 14px 22px 13px 18px;
    margin-top: 8px;
    background: #FFFFFF;
    width: 346px;
    justify-content: space-between;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.c-content-exams-perf__card-research {
    font-weight: 600;
    font-size: 14px;
}

.c-content-exams-perf__card-doctor-role {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #9E9E9E;
}
.c-content-exams-perf__card-doctor-name {
    font-weight: 600;
    font-size: 14px;
}

.c-content-exams-perf__card-patient {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #9E9E9E;
}

.c-content-exams-perf__card-patient-name {
    font-weight: 600;
    font-size: 14px;
}

.c-content-exams-perf__card-result {
    display: flex;
    padding-top: 25px;
}

.c-content-exams-perf__view-btn {
    display: block;
    color: #3A88C4;
    margin-top: 55px;
    font-size: 14px;
    font-weight: 800;
}

.c-content-exams-perf__view-btn--patients {
    margin-top: 15px;
}

.c-content-patients {
    background: #FAFAFA;
    border-radius: 10px;
    padding: 26px 27px 28px 27px;
}

.c-content-patients__title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.c-content-patients__create-btn, .c-content-dashboard-exams__create-btn {
    float: right;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 0 19px;
    height: 40px;
    background: #3A88C4;
    text-align: center;
    line-height: 40px;
    border: 1px solid #3A88C4;
    box-sizing: border-box;
    border-radius: 50px;
}

.c-content-patients__status, .c-content-dashboard-exams__status {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-top: 18px;
}

.c-content-dashboard-exams__list {
    margin-top: 17px;
}

.c-content-patients__list li, .c-content-dashboard-exams__list li {
    display: flex;
    background: #FFFFFF;
    margin-bottom: 6px;
    padding: 15px 17px 17px 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.c-content-patients__list--empty-item, .c-content-dashboard-exams__list-item {
    width: 345px;
}

.c-content-patients__list--dashboard {
    padding: 7px 17px 6px 16px !important;
}


.c-content-patients__list-user {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 17px;
    background: url(../img/user.png) center no-repeat;
}

.c-content-patients__list-name {
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.c-content-patients__view-btn {
    display: block;
    margin-top: 35px;
    color: #3A88C4;
    font-weight: 600;
}

.c-content-patients__list {
    margin-top: 19px;
}

.c-content-dashboard-exams__title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    color: #14598D;
}

.c-content-dashboard-exams {
    background: #CBE8FF;
    border-radius: 15px 0px 0px 15px;
    line-height: 1.5;
    padding: 26px 31px 28px 31px;
    margin-bottom: 27px;
    height: 366px;
}

.c-content-dashboard-exams__list-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.c-content-dashboard-exams__view-btn {
    display: block;
    margin-top: 19px;
    font-size: 14px;
    color: #3A88C4;
    font-weight: 600;
}

.c-content-televisita--empty {
    background: #FFEFD8;
    border-radius: 15px;
    padding: 28px 30px 0 31px;
    height: 393px;
}

.c-content-televisita__logo-note {
    display: block;
    background: url('../img/note-2.svg') center no-repeat;
    width: 59px;
    height: 59px;
    margin: 0 auto;
    margin-top: 75px;
}

.c-content-televisita__logo-arrow {
    display: block;
    float: right;
    margin-right: 55px;
    width: 80px;
    margin-top: -55px;
    height: 100px;
    background: url(../img/Vector-1.svg) center no-repeat;
    position: relative;
}

.c-content-televisita__logo-arrow::after {
    width: 0;
    position: absolute;
    height: 0;
    right: -4px;
    content: '';
    border-left: 5px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 13px solid #FFCC84;
}

.c-content-televisita__notify {
    width: 237px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.c-content-televisita-sch__schedule {
    padding-top: 27px;
    padding-right: 38px;
    background: #FFEFD8;
    border-radius: 0 15px 15px 0;
}

.c-content-televisita-sch {
    display: flex;
}

.c-content-televisita-sch__schedule {
    padding-left: 43px;
    width: 407px;
}

.c-content-televisita-sch__schedule-time-block {
    display: flex;
    width: 340px;
    justify-content: space-between;
    margin-left: 48px;
}

.c-content-televisita--dashboard {
    margin-top: 0;
    border-radius: 15px 0px 0px 15px;
    height: 388px;
}

.c-content-televisita-sch__schedule-dates {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 342px;
    margin-top: 50px;
    margin-bottom: 23px;
    margin-left: 48px;
    position: relative;
}

.c-content-televisita-sch__schedule-dates span {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.c-content-televisita-sch__schedule-dates::before, .c-content-televisita-sch__schedule-dates::after {
    content: '';
    position: absolute;
    border: solid black;
    border-radius: 1px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-top: 2px;
}

.c-content-televisita-sch__schedule-dates::before {
    left: -18px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.c-content-televisita-sch__schedule-dates::after {
    right: -18px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.c-content-televisita-sch__schedule-time-item {
    background: #FFC26B;
    padding: 2px 4px 2px 4px;
    line-height: 1.5;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 12px;

}

.c-content-televisita-sch__schedule-time-item--blue {
    background: #3A88C4;
    color: #FFFFFF;
}

.c-content-televisita-sch__schedule-time-item--empty {
    margin-bottom: 23px;
    margin-top: 10px;
    width: 13px;
    height: 3px;
    border-radius: 3px;
    background: #C4C4C4;
    padding: 0;
}

.c-content-televisita__card-img--empty {
    margin-top: 8px;
}

.c-content-televisita__card-time--empty {
    margin-top: 12px;
}

.c-content-televisita__card--empty {
    padding: 15px 20px 15px 20px;
}

.c-content__create-report-btn {
    color: #3A88C4;
    font-weight: 600;
    height: fit-content;
    margin-top: 20px;
    font-size: 12px;
    line-height: 12px;
}

.c-content-televisita__view-btn--empty {
    margin-top: 24px;
}

.c-content-exams-perf__status--patients {
    margin-bottom: 17px;
}

.c-menu__doctor {
    display: flex;
}

.c-menu__doctor-wrap {
    display: flex;
    flex-flow: column;
    margin-left: 38px;
    margin-right: 13px;
}

.c-menu__doctor-name, .c-menu__doctor-role {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.c-menu__doctor-role {
    text-transform: uppercase;
    color: #9E9E9E;
}
